

.card-img-top {
    max-width: 43ch;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.card-body{
   text-align: center;
}


.card-title{
    font-size: 2.3rem;
}

.card-text{
    font-size: 1.2rem;
}


