
*
{
    margin: 0;
    padding: 0;
}


section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(227, 10%, 10%);
}

.container{
     position: relative;
     width: 930px;
     height: 580px;
     padding: 20px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: inherit;

}

.container .box{
    width: 280px;
    height: 190px;
    margin-bottom: 20px;
    display: flex;
    font-size: 1.4em;
    font-weight: 800;
    transition: transform 0.3s ease;
}

.container .box:hover{
    transform: scale(1.1);
}

a{
    text-decoration: none;
}



.container .text-color1{
    border-radius: 10px;
    background-image: linear-gradient(to right, #fad0c4 0%, #ffd1ff 100%);
    justify-content: center;
    align-items: center;
}


.container .text-color2{
    border-radius: 10px;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    justify-content: center;
    align-items: center;
}

.container .text-color3{
    border-radius: 10px;
    background-image: linear-gradient(to right, #96fbc4 0%, #f9f586 100%);
    justify-content: center;
    align-items: center;
}

.container .text-color4{
    border-radius: 10px;
    background-image: linear-gradient(to right, #37ecba 0%, #72afd3 100%);
    justify-content: center;
    align-items: center;
}

.container .text-color5{
    border-radius: 10px;
    background-image: linear-gradient(to right, #9795f0 0%, #fbc8d4 100%);
    justify-content: center;
    align-items: center;
}

.container .text-color6{
    border-radius: 10px;
    background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
    justify-content: center;
    align-items: center;
}






/* body {
    background-color: #0a1727; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: pink;
}

li {
    padding: 15px;
    border: 1px solid #000;
    font-size: 18px;

}

a {
    text-decoration: none;
    color: #333;
    display: block;
} */


/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0a1727
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.button {
    margin: 15px 0;
    width: 100px;
    height: 100px;
    padding: 20px;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    width: 200px;
    text-align: center; 
}


.button1 {
    background: linear-gradient(135deg, #ecc344 0%, #e42d7f 100%);
}

.button2 {
    background: linear-gradient(135deg, #00c7c5 0%, #0088d7 100%);
}

.button3 {
    background: linear-gradient(135deg, #855edd 0%, #63afd3 100%);
}

.button4 {
    background: linear-gradient(135deg, #e32d76 0%, #648fe6 100%);
}

.button5 {
    background: linear-gradient(135deg, #b6eb77 0%, #359ab6 100%);
}

.button6 {
    background: linear-gradient(135deg, #00c7c5 0%, #0088d7 100%);
} */
