/* exercise 1 and 2 */
body{
    background-color: #FBF9F1;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.container1{
   display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    background-color: #bacec1;
}

.container1 img{
    max-width: 60%;
}

.container1 h1{
    flex: 1;
    color: #1d3124;
    text-align: center;
    padding: 1rem;
}

.text1 h1{
    padding: 1rem;
}


.text1 h2{
    padding: 1rem;
}

.main1{
    margin: auto;
}

.main2{
    padding: 1rem;
}

.quote{
    padding: 1rem;
}


.question{
    padding: 1rem;
}

.imageLink{
    padding: 1rem;
}


.hyperLink{
    text-align: center;
}


address{
    padding: 1rem;
}

#footer3{
    background-color: #bacec1;
    padding: 40px;
}

#footer3 p{
    text-align: center;
    color: #1d3124;
    font-size: 20px;

}



/* exercise 4  */
#main-header{
    background-color: #bacec1;
    text-align: center;
    padding: 20px;
}

#main-header h1{
    margin: 0;
    font-size: 32px;
}

#main-header p{
    font-size: 16px;
    margin-top: 10px;
}

.content-article{
    background-color: #dddbd0;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.content-article h2{
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.content-article p{
    color: #666;
    font-size: 16px;
    line-height: 1.5;
}


#main-footer {
    background-color: #bacec1;
    color: #000;
    padding: 20px;
    text-align: center;
}



/* exersice 5:  */
header {
    background-color: #bacec1;
    padding: 20px 250px 20px;
    margin-bottom: 10px;
  }
  
  header h2 {
    color: #1d3124;
    text-align: center;
    font-size: 33px;
  }
  
  .section1 {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    flex: 1;
  }
  
  .flex-container {
    display: flex;
  }
  
  .leftBox {
    width: 200px;
    padding: 20px;
    flex: 0 1 auto;
    padding: 1em;
    background-color: #f6f4e8;
    margin-bottom: 10px;
    margin-right: 10px;
    color: #1d3124;
  }
  
  .rightBox {
    flex: 1;
  }
  
  main .box1{
    background-color:  #f6f4e8;
    margin-bottom: 10px;
    padding: 1em; 
    flex: 1;
    flex-wrap: wrap;
    color: #1d3124;
    text-align: justify;
}

main .box2{
    background-color:  #f6f4e8;
    margin-bottom: 10px;
    padding: 1em; 
    flex: 1;
    flex-wrap: wrap;
    color: #1d3124;
    text-align: justify;
}

main .box3{
    background-color:  #f6f4e8;
    margin-bottom: 10px;
    padding: 1em; 
    flex: 1;
    flex-wrap: wrap;
    color: #1d3124;
    text-align: justify;
}


.section2 {
    display: flex;
    justify-content: space-between;
    height: auto;
}

.section2 article {
    flex: 2;
    background-color: #f6f4e8;
    padding: 20px;
    margin-bottom: 10px;
}

.section2 nav, .section2 aside {
    flex: 1;
    background-color:#dddbd0;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

main .box4 .box5 .box6{
    color: #1d3124;
  }

  
  footer {
    background-color: #bacec1;
    padding: 30px 250px 30px;
    
  } 
  
  footer h2 {
    color: #1d3124;
    text-align: center;
    font-size: 20px;
  } 

  .form{
    text-align: center;
    margin-top: 2rem;

  }

  .table{
    margin: 1em auto 2em;
  }

.tableTitle{
    text-align: center;
    margin-top: 1.2rem;
}



























  
/* error page */
.card-img-top {
    max-width: 43ch;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.card-body{
   text-align: center;
}


.card-title{
    font-size: 2.3rem;
}

.card-text{
    font-size: 1.2rem;
}




